---
const { class: className } = Astro.props;
---

<div class:list={['container', className]}>
    <slot></slot>
</div>

<style lang="scss" is:global>
    .container {
        --container-side-gap: 2rem;
        --container-width: 40rem;

        --container-sides-gap: calc(var(--container-side-gap) * 2);
        --available-width: min(
            calc(100vw - var(--container-sides-gap)),
            calc(var(--container-width) - var(--container-sides-gap))
        );

        max-width: var(--container-width);
        padding-left: var(--container-side-gap);
        padding-right: var(--container-side-gap);
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 769px) {
            --container-width: 50rem;
            --container-side-gap: 3rem;
        }

        @media (min-width: 1200px) {
            --container-width: 60rem;
        }
    }
</style>
