@import './_icon-button.scss';
@import './_layout.scss';
@import './_navbar.scss';

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

time {
  font-family: monospace;
}

.container {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: red;
  text-decoration: none;
  transition: transform ease-in 0.2s;
  transform: rotate(0) scale(1);

  &:hover {
    transform: rotate(5deg) scale(1.1);
  }
}
