<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8"/>
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>
  <body>
    {% include 'parts/nav.njk' %}
    <main>{{ content | safe }}</main>
    {% include 'parts/footer.njk' %}
  </body>
</html>