<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8"/>
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'parts/nav.njk' %}
    <main class="container">
      {{ content | safe }}
    </main>
    {% include 'parts/footer.njk' %}
    {% block footer %}{% endblock %}
  </body>
</html>
