---
import CollectionList from '@layouts/CollectionList.astro'
import Tr from '@components/atoms/Tr.astro';
---

<CollectionList collection="experiment">
    <h1 slot="list-title">
        <Tr en="Writing" es="Escritos" />
    </h1>

    <Tr slot="list-description">
        <p slot="en">
            These are mostly notes for myself, but if they are useful to someone else, all the better.
        </p>

        <p slot="es">
            En principio esto son notas para mi mismo, pero si a alguien le sirven, bienvenido sea.
        </p>
    </Tr>
</CollectionList>
