:root {
  --color-text: #eaf0f5;
  --color-background: #222222;
  --color-primary: #127fed;
  --color-secondary: #141f29;
  --color-accent: #5a85af;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #0a1015;
    --color-background: #dedede;
    --color-primary: #127fed;
    --color-secondary: #d6e1eb;
    --color-accent: #507aa5;
  }
}

:root {
  --color-text: lch(94.48% 3.27 250.95);
  --color-background: lch(13.22% 0 180);
  --color-primary: lch(53.4% 64.36 281.6);
  --color-secondary: lch(11.19% 8.39 259.77);
  --color-accent: lch(54.07% 26.9 263.68);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: lch(4.41% 3.62 257.57);
    --color-background: lch(88.46% 0 180);
    --color-primary: lch(53.4% 64.36 281.6);
    --color-secondary: lch(88.99% 6.37 253.98);
    --color-accent: lch(49.9% 27.53 265.75);
  }
}
