:root {
  --color-text: #ffffff;
  --color-background: #00080f;
  --color-primary: #127fed;
  --color-secondary: #01172d;
  --color-accent: #f47d06;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #000000;
    --color-background: #f0f8ff;
    --color-primary: #127fed;
    --color-secondary: #d2e8fe;
    --color-accent: #f9820b;
  }
}

:root {
  --color-text: lch(100% 0 180);
  --color-background: lch(1.88% 3.79 254.57);
  --color-primary: lch(53.4% 64.36 281.6);
  --color-secondary: lch(7.3% 17.4 273.19);
  --color-accent: lch(64.89% 81.54 60.56);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: lch(0% 0 0);
    --color-background: lch(97.17% 4.46 252.53);
    --color-primary: lch(53.4% 64.36 281.6);
    --color-secondary: lch(91.03% 13.36 257.86);
    --color-accent: lch(66.62% 81.93 61.12);
  }
}
