:root {
  --color-text: #ffffff;
  --color-background: #000a14;
  --color-primary: #127fed;
  --color-secondary: #011932;
  --color-accent: #fc8003;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #000000;
    --color-background: #ebf5ff;
    --color-primary: #127fed;
    --color-secondary: #cde5fe;
    --color-accent: #fc8003;
  }
}

:root {
  --color-text: lch(100% 0 180);
  --color-background: lch(2.41% 5.9 262.21);
  --color-primary: lch(53.4% 64.36 281.6);
  --color-secondary: lch(8.41% 19.38 275.74);
  --color-accent: lch(66.63% 84.14 60.3);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: lch(0% 0 0);
    --color-background: lch(96.07% 6.09 256.44);
    --color-primary: lch(53.4% 64.36 281.6);
    --color-secondary: lch(89.93% 15 259.32);
    --color-accent: lch(66.63% 84.14 60.3);
  }
}
