:root {
  --color-text: #fef6f5;
  --color-background: #000000;
  --color-primary: #066d74;
  --color-secondary: #041f44;
  --color-accent: #20f398;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #090201;
    --color-background: #ffffff;
    --color-primary: #8bf2f9;
    --color-secondary: #bcd6fb;
    --color-accent: #0cdf83;
  }
}

:root {
  --color-text: lch(97.46% 2.86 29.69);
  --color-background: lch(0% 0 0);
  --color-primary: lch(41.58% 25.57 206.27);
  --color-secondary: lch(12.1% 26.96 283.98);
  --color-accent: lch(85.33% 74.15 155.44);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: lch(0.93% 1.97 31.11);
    --color-background: lch(100% 0 180);
    --color-primary: lch(89.77% 30.98 204.28);
    --color-secondary: lch(84.86% 20.93 268.11);
    --color-accent: lch(78.74% 73.25 153.51);
  }
}
