:root {
  --color-text: #ffffff;
  --color-background: #0c141d;
  --color-primary: #127fed;
  --color-secondary: #172636;
  --color-accent: #5d8cbb;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #000000;
    --color-background: #e2eaf3;
    --color-primary: #127fed;
    --color-secondary: #c9d8e8;
    --color-accent: #4473a2;
  }
}

:root {
  --color-text: lch(100% 0 180);
  --color-background: lch(6.02% 7.24 266.59);
  --color-primary: lch(53.4% 64.36 281.6);
  --color-secondary: lch(14.59% 12.36 266.29);
  --color-accent: lch(56.75% 29.55 264.87);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: lch(0% 0 0);
    --color-background: lch(92.34% 5.36 259.46);
    --color-primary: lch(53.4% 64.36 281.6);
    --color-secondary: lch(85.68% 9.72 258.97);
    --color-accent: lch(47.1% 30.16 266.99);
  }
}
