@import '../styles/custom-media.scss';

.IndexHeader {
  background: #111;
  margin: 0 0 2rem;
  padding: 2.5rem 0;

  h1 {
    font-family: var(--font-family-secondary);
    font-size: 1.7rem;
    line-height: 1.1;
    letter-spacing: -0.15rem;
    margin: 0 0 1.5rem;
    font-weight: 700;

    // dark: h1
    color: white;
  }

  p {
    font-size: 1.2rem;

    &:last-of-type {
      margin-bottom: 0.5rem;
    }
  }

  .avatar {
    display: block;
    max-height: 200px;
    margin: 1.5rem auto 0;
    border: 3px solid var(--border-color);
    background-color: black;
  }

  @media (--wide) {
    padding: 3rem 0;
    margin-bottom: 3.5rem;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1000px;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
      letter-spacing: -0.1rem;
    }

    p {
      max-width: 700px;
      font-size: 1.6rem;
      line-height: 1.6;
    }

    .avatar {
      margin-top: 0;
      max-height: none;
      max-width: 350px;
      margin-left: 2rem;
    }
  }
}
