---
import Tr from '../atoms/Tr.astro';

interface Props {
    count?: number
}

const { count = 5 } = Astro.props;

const slot = await Astro.slots.render('default')

const items = slot
    .replace(/<\/?astro-[^>]*slot>/g, '')
    .split(/<\/li>/)
    .filter(Boolean)
    .map(item => `${item}</li>` )

const header = items.slice(0, count).join('')
const concealed = items[count]
const rest = items.slice(count).join('')
---

<amq-foldable-list>
    <slot name="title" />
    <ul set:html={header} />

    <details>
        <summary>
            <slot name="view-more">
                <Tr en="View all" es="Ver todo" />
            </slot>
        </summary>

        <ul set:html={rest} />
    </details>

    <ul class="concealed" set:html={concealed} />
</amq-foldable-list>

<style lang="scss" is:global>
    amq-foldable-list {
        display: block;
        position: relative;

        .concealed {
            opacity: 0.5;
        }

        summary {
            position: absolute;
            right: 0;
            top: 0;
        }

        details[open] + .concealed {
            display: none;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
</style>
