---
import CollectionList from '@layouts/CollectionList.astro'
import Tr from '@components/atoms/Tr.astro';
---

<CollectionList collection="projects">
    <h1 slot="list-title">
        <Tr en="Projects" es="Proyectos" />
    </h1>

    <Tr slot="list-description">
        <p slot="en">
            Here's stuff I've built or still build in my spare time.
        </p>

        <p slot="es">
            Aquí hay cosas que he construido o aún construyo en mi tiempo libre.
        </p>
    </Tr>
</CollectionList>
