---
import Container from '../atoms/Container.astro';
import Tr from '../atoms/Tr.astro';
import AMatiasQuezada from '../molecules/AMatiasQuezada.astro';

interface Props {
  fixed?: boolean;
}

const { fixed } = Astro.props;
---

<script
  defer
  type="module"
  src="https://components.amatiasq.com/hamburger-button.js"></script>

<nav class:list={['amq-header', fixed ? 'is-fixed' : null]}>
  <Container>
    <div class="left">
      <hamburger-button></hamburger-button>
      <AMatiasQuezada brackets />
    </div>

    <div class="right">
      <a class="nav-link" href="#projects">
        <Tr en="Projects" es="Proyectos" />
      </a>
      <a class="nav-link" href="#experiments">
        <Tr en="Experiments" es="Experimentos" />
      </a>
      <a class="nav-link" href="#blog">Blog</a>
      <a class="nav-link" href="#talks">
        <Tr en="Talks" es="Charlas" />
      </a>
      <a class="nav-link" href="#career">
        <Tr en="Career" es="Experiencia" />
      </a>
    </div>
  </Container>
</nav>

<style is:global>
  @import url('../../styles/util/nav-link.css');

  .amq-header {
    background-color: var(--color-secondary);
    padding: 1em;

    & .container,
    & .left,
    & .right {
      display: flex;
      gap: 1em;
    }

    & .left {
      flex: 1;
    }

    & .right {
      visibility: hidden;
    }

    & a {
      margin-left: 1em;
      color: var(--color-);
    }

    & hamburger-button {
      --color: var(--color-text);
      --spacing: 7px;
    }
  }

  .amq-header.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  @media (min-width: 769px) {
    .amq-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;

      & .right {
        visibility: visible;
      }
    }
  }
</style>
