---
import { readCollection } from '@util/content';
import { getSlugWithoutDate } from '@util/date';
import MarkdownPage from '@layouts/MarkdownPage.astro';
import Tr from '@components/atoms/Tr.astro';

export async function getStaticPaths() {
    const posts = await readCollection('blog')
    return posts.map(post => ({
        params: { slug: getSlugWithoutDate(post) },
        props: { post }
    }));
}

const { post } = Astro.props;
---

<MarkdownPage>
    <h1><Tr value={post.data.title} /></h1>

    <Tr value={post} />
</MarkdownPage>