<nav>
  <h1>{{ title }}</h1>

  <ul>
    <li class="site-nav"><a href="/blog">Blog</a></li>
    <li class="site-nav"><a href="/career">Career</a></li>
    <li class="site-nav"><a href="/projects">Projects</a></li>
  </ul>
</nav>
