---
import Translate from '../atoms/Translate.tsx';

const { lang, title, viewAllLink } = Astro.props;
---
<section>
  <h2>
    <Translate lang={lang} value={title} />
    {viewAllLink &&
      <a href={viewAllLink}>
        <Translate lang={lang} en="View all" es="Ver todo" />
      </a>
    }
  </h2>
  <slot />
</section>

<style lang="scss">
  @import '../../styles/mixins.scss';

  section {
    margin: 2rem 0;

    @include wide {
      margin: 3.5rem 0;
    }
  }

  h2 {
    margin: 0 0 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-margin-top: 95px;
    font-family: var(--heading-font-family);
    -webkit-font-smoothing: subpixel-antialiased;
    padding-bottom: .5rem;
    border-bottom: 3px solid var(--border-color);
    letter-spacing: -.1rem;
    margin-top: 0;
    border-bottom-width: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 1.3rem;

    @include wide {
      scroll-margin-top: 80px;
      letter-spacing: -.1rem;
      font-size: 2rem;
      margin: 0 0 1.5rem;
    }

    > a {
      text-decoration: none;
      background: var(--bg-secondary);
      color: var(--fg-color);
      padding: .6rem;
      font-size: .9rem;
      white-space: nowrap;
      line-height: 1;
      margin-left: 2rem;
      margin-top: .5rem;
      font-family: var(--heading-font-family);
      font-weight: 400;
      letter-spacing: 0;
      border: 1px solid var(--subtle-border)!important;

      @include wide {
        font-size: 1rem;
      }
    }
  }
</style>