<button data-action="toggle-light-mode">
  <span class="dark-only">☀️</span>
  <span class="light-only">🌙</span>
</button>

<script>
  (() => {
    const storageKey = 'amatiasq.com/light-theme';
    const lightTheme = 'light-theme';
    const button = document.querySelector('[data-action="toggle-light-mode"]');

    button.addEventListener('click', () => {
      document.body.classList.toggle(lightTheme)

      if (document.body.classList.contains(lightTheme)) {
        localStorage.setItem(storageKey, 1);
      } else {
        localStorage.removeItem(storageKey);
      }
    });

    if (localStorage.getItem(storageKey)) {
      document.body.classList.add(lightTheme)
    }
  })()
</script>
