@import './reset.css';
/* @import './pico.css'; */
@import './syntax-highlighting.css';

@import './themes/blue-orange-darker.css';
@import './fonts/IBM-plex-and-Inconsolata.css';

:root {
  --spacing: 32px;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--fontFamily-body);
  font-weight: var(--fontWeight-regular);
}

code {
  font-family: var(--fontFamily-code);
}

:is(h1, h2, h3) {
  font-family: var(--fontFamily-heading);
  font-weight: var(--fontWeight-thin);
}

:is(h4, h5, h6) {
  font-family: var(--fontFamily-heading);
  font-weight: var(--fontWeight-bold);
}

:is(h1, h2, h3, h4, h5, h6, p, main) {
  margin: 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

svg {
  fill: var(--color-text);
}

iframe {
  width: var(--available-width);
  height: var(--available-width);
}

iframe,
img {
  border: 2px solid var(--color-accent);
}

:is(ol, ul).unstyled {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}

/*
summary {
  cursor: pointer;
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}
.md summary {
  list-style: unset;
}
.md summary::-webkit-details-marker {
  display: unset;
} */
