:root {
  --content-padding: 2em;
  --content-max-width: 60em;
  --breakout-max-width: 70em;
}

.container-grid,
.full-width {
  --_breakout: minmax(
    0,
    calc((var(--breakout-max-width) - var(--content-max-width)) / 2)
  );
  --_margin: minmax(var(--content-padding), 1fr);
  --_content: min(
    100% - (var(--content-padding) * 2),
    var(--content-max-width)
  );

  display: grid;
  grid-template-columns:
    [fullwidth-start]
    var(--_margin)
    [breakout-start]
    var(--_breakout)
    [content-start]
    var(--_content)
    [content-end]
    var(--_breakout)
    [breakout-end]
    var(--_margin)
    [fullwidth-end];

  > :not(.breakout, .full-width) {
    grid-column: content;
  }

  > .breakout {
    grid-column: breakout;
  }

  > .full-width {
    grid-column: fullwidth;
  }
}
