---
import '../../styles/reset.css';
import '../../styles/base.css';
import '../../styles/fonts.css';
import '../../styles/variables.css';
import { getLangFromUrl } from '@internals/i18n';
import AmqHeader from '@components/organisms/AmqHeader.astro';
import AmqFooter from '../organisms/AmqFooter.astro';

export interface Props {
  title?: string;
  class?: string;
  fixedHeader?: boolean;
}

const { class: className, fixedHeader = false } = Astro.props;

const title = [Astro.props.title, 'A. Matías Quezada']
  .filter(Boolean)
  .join(' | ');
---

<html lang={getLangFromUrl(Astro.url)}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100dvh;

        > main {
          flex: 1;
        }
      }
    </style>
  </head>
  <body class:list={[className]}>
    <AmqHeader fixed={fixedHeader} />
    <main>
      <slot />
      <AmqFooter />
    </main>
  </body>
</html>
