---
import Tr from '@components/atoms/Tr.astro';
import BaseLayout from '@components/templates/BaseLayout.astro';
import { type ContentOf } from 'src/internals/content';
import { getYear } from '@util/date';
import type { Translatable } from '@internals/i18n';

interface Props {
  entries: ContentOf<{ title: Translatable }>[];
}

const { entries } = Astro.props;
const perYear: Record<number, typeof entries> = {};

for (const post of entries.reverse()) {
  const year = getYear(post) ?? 0;
  perYear[year] ??= [];
  perYear[year]!.push(post);
}
---

<BaseLayout class="entry-list">
  <slot name="list-title" />
  <slot name="list-description" />

  {
    Object.entries(perYear)
      .reverse()
      .map(([year, posts]) => (
        <>
          <h2>{year || <Tr en="Unknown date" es="Fecha desconocida" />}</h2>

          <ul>
            {posts.map((post) => (
              <li>
                <DatedEntryLink collection={collection} entry={post} />
              </li>
            ))}
          </ul>
        </>
      ))
  }
</BaseLayout>

<style lang="scss" is:global>
  .entry-list {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
</style>
 src/internals/content
