---
import Link from '../atoms/Link.astro';
---

<h2 class="amq">
  <Link class="name" page="/">
    <span>{'{'}</span>
    <abbr>Adrian</abbr>
    <span class="dot">.</span>
    <span>Matías Quezada</span>
    <span>{'}'}</span>
  </Link>
</h2>

<style is:global>
  .amq {
    display: flex;
    gap: var(--space-md);
    align-items: center;
    margin: 0;
    font-size: 1.3em;
    font-weight: 400;

    & .name {
      color: var(---color-foreground-strong);
      display: flex;
      align-items: baseline;
      letter-spacing: 1px;
      white-space: nowrap;

      & abbr {
        display: inline-flex;
        width: 0.7em;
        overflow: hidden;
        transition: width var(--animation-speed-medium) ease;
      }

      & abbr,
      & span + span {
        margin-left: 0.4em;
      }

      &:hover {
        & abbr {
          width: 3.3em;
        }
        & .dot {
          display: none;
        }
      }
    }
  }

  @media (min-width: 769px) {
    .amq {
      font-size: 1.5em;
    }
  }
</style>
