---
export interface Props {
  class?: string;
  brackets?: boolean;
}

const { class: className, brackets = false } = Astro.props;
---

<span class:list={['a-matias-quezada', className]}>
  {brackets ? <span>{'{'}</span> : null}
  <abbr>Adrian</abbr>
  <span class="dot">.</span>
  <span>Matías Quezada</span>
  {brackets ? <span>{'}'}</span> : null}
</span>

<style is:global>
  .a-matias-quezada {
    --_width-modifier: var(--width-modifier, 1);
    white-space: nowrap;

    > abbr {
      display: inline-flex;
      width: calc(var(--_width-modifier) * 0.7em);
      overflow: hidden;
      transition: width 0.2s ease;
      /* margin-left: 0.2em; */
    }

    > span + abbr,
    > span + span {
      margin-left: calc(var(--_width-modifier) * 0.2em);
    }

    &:hover {
      > abbr {
        width: calc(var(--_width-modifier) * 3.3em);
      }

      > .dot {
        display: none;
      }
    }
  }
</style>
