---
import CollectionList from '@layouts/CollectionList.astro'
import Tr from '@components/atoms/Tr.astro';
---

<CollectionList collection="experiment">
    <h1 slot="list-title">
        <Tr en="Experiments" es="Experimentos" />
    </h1>

    <Tr slot="list-description">
        <p slot="en">
            Sometimes I need to try something quickly and leave it here for future reference.
        </p>

        <p slot="es">
            En principio esto son notas para mi mismo, pero si a alguien le sirven, bienvenido sea.
        </p>
    </Tr>
</CollectionList>
