---
import type { Content } from '../../internals/content';
import Link from '../atoms/Link.astro';
import Time from '../atoms/Time.astro';
import Tr from '../atoms/Tr.astro';
import MarkdownExcerpt from '../molecules/MarkdownExcerpt.astro';

interface Props {
  posts: Content<'blog'>[];
}

const { posts } = Astro.props;
---

<ol class="post-list">
  {
    posts.map((post) => (
      <li class="post-entry">
        <Time date={post.date} omitDay />
        <h4>
          <Tr value={post.data.title} />
        </h4>
        <MarkdownExcerpt md={post.content} cropAt={200} />
        <Link page={post.href}>
          <Tr en="Read article" es="Leer artículo" />
        </Link>
      </li>
    ))
  }
</ol>

<style is:global>
  .post-list {
    display: grid;
    overflow: hidden;
    row-gap: var(--gap);
    grid-template-columns:
      minmax(min-content, 1fr)
      max-content;
  }

  .post-entry {
    display: grid;
    column-gap: 2em;
    row-gap: var(--text-gap, 1em);
    max-width: 100%;

    grid-column: 1/4;
    grid-template-columns: subgrid;
    grid-template-areas:
      'title title'
      'excerpt excerpt'
      'time readmore';

    > time {
      grid-area: time;
      font-family: var(--font-family-code);
      display: flex;
      align-items: center;
    }

    > h4 {
      grid-area: title;
      margin: 0;
      font-size: var(--font-size-md);
    }

    > .md {
      grid-area: excerpt;
      display: flex;
      align-items: center;
      max-width: var(--available-width);
    }

    > a {
      grid-area: readmore;
    }
  }

  @media (min-width: 769px) {
    .post-list {
      grid-template-columns:
        minmax(max-content, 1fr)
        max-content;
    }

    .post-entry {
      grid-template-areas:
        'title time'
        'excerpt excerpt'
        'readmore readmore';
    }
  }
</style>
